# Ignore macOS system files
.DS_Store

# Python bytecode and cache files
__pycache__/
*.pyc

# Ignore large data file
data/train.csv

# Ignore model checkpoint files
# models/item_models/*.pth

# Ignore other temporary or backup files
*.bak
*.tmp
*.swp
*.swo